* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.repositories-cont {
  height: 100vh; 
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-cont {
  width: 60%;
  height: 90%;
  background-color: rgb(230, 230, 230);  

  border-radius: 5px;
}

.list-cont ul {
  list-style: none;

  height: 100%;

  overflow: auto;

  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-cont ul li {
  width: 60%;
  height: 15%;

  background-color: #fff;
  border-radius: 5px;
  padding: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list-cont ul li + li {
  margin-top: 15px;
}

div.info a svg {
  margin-top: 5px;
  color: rgb(63, 63, 63);
}

button.button-remove {
  background: #c44e4e;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;

  transition: background 0.3s;
}

button.button-remove:hover {
  background: #aa3c3c;
  border-radius: 3px;
}

button.button-add {
  width: 250px;
  background: #3d974c;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin-top: 15px;

  transition: background 0.3s;
}

button.button-add:hover {
  background: #266b32;
  border-radius: 3px;
}

